body {
  background-color: rgb(255, 255, 255);
}

.form-control {
  height: auto;
  padding: .05rem .35rem;
}

.table-sorted {

  @mixin sorting-mixin($bot) {
    content: url('../assets/arrow.png');
    position: absolute;
    right: 0.5em;
    bottom: $bot;
    width: 10px;
    height: 10px;
    font-weight: 900;
    font-size: 1rem;
    opacity: 0.5;
  }

  .sorting::before {
    @include sorting-mixin(2em);
  }

  .sorting::after {
    @include sorting-mixin(0.4em);
    transform: rotate(180deg);
  }

  .sorting__ASC::after,
  .sorting__DESC::before {
    opacity: 1;
  }
}