body{
    background-color: rgb(255, 129, 129);
}

#hello {
  font-family: Verdana;
}

.img{
  background: url('../assets/plus.png') no-repeat 0 0;
  width: 25px;
  height: 25px;
}

.img2{
  background: url('../assets/1.png') no-repeat 0 0;
}